.card{
    display: flex;
   width: 350px;
   height:230px;
   margin: 15px;
   border: 1px solid rgb(255, 255, 255);
}

.flag{
    width: 150px;
    height: 170px;
    margin: 20px;
}

.bla{
    color: rgb(255, 255, 255)
}
