.card{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
   width: 250px;
   height:240px;
   border: 1px solid rgb(255, 255, 255);
   background-color:rgb(156, 198, 235);
   border: none;
}

.card:hover {
 border: #006fff 0.2em solid;
}


.flag{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 250px;
    height: 139px;
    border-radius: 20px 20px  10px 6px;
    border:none;
}

.bla{
    color: rgb(7, 7, 7)
}
.text{
  text-align: center;
}
