.card{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
   width: 250px;
   height:240px;
   border: 1px solid rgb(255, 255, 255);
   background-color:rgb(156, 198, 235);
}

.card:hover {
 border: #006fff 0.2em solid;
}


.flag{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 180px;
    height: 90px;
    border: 1px solid #2a2a2b;
}

.bla{
    color: rgb(7, 7, 7)
}
