.background{
background-image: url('../img/ultimo.jpg');
background-position:center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
min-height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
}

.centrar{
  
 position: relative;
 bottom: 600px;
 right: 50px;
 display: grid;
justify-content: end;
 align-items: center;
 grid-template-columns: 350px 350px 350px;
grid-template-rows: 200px 200px 200px;
 gap: 50px;

}
.mundo{
  position: relative;
  left:20px;
  top: 100px;
  height: 700px;
  width:700px;
  border-radius: 100%;
  animation: rotation 9s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.nav{
  height:80px;
  background-color: aliceblue;
display: flex;
justify-content:space-around;
align-items: center;
}

.link{
  text-decoration:none;

}